language: java
jdk: openjdk11

addons:
  sonarcloud:
    organization: "project-quatum"
    token:
      secure: "i4XHgiCcAFQVL9Gb3zi/DQ3MeeyiIsslzZw0Y+bj+dgP9JxqZoVivmHmhza54XP2WGWrPfwQ7B+CsKbXmRl2gGQfzYBd3llv/i4SpNZS2LIZXnbXyteb1ZBiRj1aIdfZoRHvp/h/uZShZfLJojvLPksbGuI1aZIrJbANfvzcFeTX7XbL93mnzDqC+LI8JQRSSC+AKD5rFRxTsz6/UUQHL3WjPn61CfOueU9DFCft1y0OYd9SxictCePlD0DDjIs9HEggPCAMqSG0cERDR6YTTqB++dBBW/FHNgI8UpEfcwMDzb2JGZYT5WrlTjFFuvtpjDpXb5TYIJvaXhAQdFKko0r5Y8avAfBG+D8MDxSS5Hg0l2tR9KlZBJx2f/Mjl6VJU3i53IG2gTpdgJ5U4T9ak8PQR6idfAxOfrrFPf191VYCxrb4Py5rR6sj/LKqdKUeIIhVM+rjAujyUEF9A7r6yLXb30op58zObP1tzTQY3tEPnCiRSsE3KRuGrIHL7GQxRy95nPNnnZttHAaWXDA8D5g/LWvlPbWa7O9AyyDLqfgLqrJMi+HO3eLM7OLV3XAwJpfzhveztacFCYaoWJxA9oXb8hYK2K1rKn+x03qxBCqA29wRpOFReMCkOutQbLJsJVrkm/5Lbkwoj4BsIdEeZJ1qUjhLgkIzQyWKoR3DCOo=" # encrypted value of your token

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean verify sonar:sonar -sonar.login=$urlpdfconverter -Pcoverage -Dsonar.projectKey=Project-Quatum_url-to-pdf
