/* ==========================================================================
Main page styles
==========================================================================
*/

.App {
  text-align: center;
}

header {
  font-family: Verdana, Arial, sans-serif;
  margin-bottom: 30px;
  padding: 30px;
}

main {
  padding: 100px;
}

input {
  width: 50%;
  padding: 15px 20px;
  margin: 8px;
}
